/* Style for the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
}

/* Style for the loginContainer */
#signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.loginContainer p {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

#signup-email,
#signup-password {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  color: #333;
}

.sign-in-google,
#btnlog {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #008cba;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-google:hover,
#btnlog:hover {
  background-color: #005a80;
}

.sign-in-google:active,
#btnlog:active {
  background-color: #003147;
}

/* Style for the formContainer */
/* .formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
} */

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formContainer img {
  width: 105%;
  height: auto;
  margin-bottom: 10px;
}

p {
  font-family: "Courier New", Courier, monospace;
}

/* Style for the forms */
#form1,
#form2,
#form3,
#form4,
#form5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 20px;
  width: 450px;
}

#form1 input,
#form2 input,
#form3 input,
#form4 input,
#form5 input {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  color: #333;
}

#form1 button,
#form2 button,
#form3 button,
#form4 button,
#form5 button,
#playAgain {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #008cba;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

/* Style for table */
.user-table {
  width: 100%;
  border-collapse: collapse;
}
.user-table th,
.user-table td {
  padding: 8px;
  border: 1px solid yellow;
  text-align: left;
}

.user-table th {
  background-color: goldenrod;
  font-size: 18px;
}

#playAgain {
  display: none;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

#playAgain:hover {
  background-color: #005a80;
  color: #fff;
}

#playAgain:active {
  background-color: #008cba;
  border: 2px solid #008cba;
  color: #fff;
}

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
  #form1,
  #form2,
  #form3,
  #form4,
  #form5 {
    width: 90%;
  }

  #form1 button,
  #form2 button,
  #form3 button,
  #form4 button,
  #form5 button,
  #playAgain {
    width: 100%;
  }
  #signin-form {
    width: 90%;
    margin: 50px auto;
  }
}

@media only screen and (max-width: 576px) {
  #signin-form {
    width: 100%;
    margin: 20px auto;
  }

  #signup-email,
  #signup-password {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #form1,
  #form2,
  #form3,
  #form4,
  #form5 {
    padding: 10px;
  }

  #form1 button,
  #form2 button,
  #form3 button,
  #form4 button,
  #form5 button,
  #playAgain {
    padding: 8px;
    font-size: 14px;
  }
}
